.global {
  width: 100vw;
  height: 100vh;
  background-color: #f9fbfd;
}

.header-bar {
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.side-bar {
  position: fixed;
  z-index: 2;
  height: 92vh;
  width: 16vw;
  max-width: 267px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.menu {
  padding-top: 15px;
  color: #95bce0;
}

.active-item {
  color: #0979f9;
}

.active-item::before {
  background-color: #0979f9;
}

.menu-item {
  /* border: 1px solid red; */
  font-family: "PoppinsSemiBold";
  padding: 10px 0 10px 50px;
  font-size: 1.1vw;
  position: relative;
}

.menu-item::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-item:hover::before {
  background-color: #0979f9;
}

.menu-item:hover {
  color: #0979f9;
}

.body-content {
  height: calc(92vh - 40px);
  /* height: calc(92vh - 2.4rem - 40px); */
  width: calc(84vw - 1.5rem);
  /* margin-top: 1.2rem; */
  margin-left: calc(16vw + 1.5rem);
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: rgb(11, 2, 51) #f9fbfd;

  /* border: 1px solid red; */
}

.dynamic-content {
  height: calc(92vh - 3rem - 40px);
  /* height: 100vh; */
  width: calc(84vw - 3rem);
  background-color: #fff;
  border-radius: 10px;
  margin: 1.5rem 0;
}

.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #fff;
  text-align: right;
  padding: 15px 4vw;
  /* border: 1px solid red; */
  font-family: "PoppinsRegular";
  font-size: 10px;
}

.footer span {
  color: #1592e6;
  text-decoration: underline;
}

.welcome {
  /* border: 1px solid red; */
  position: fixed;
  bottom: 80px;
  width: 16vw;
  max-width: 267px;
  /* min-width: 200px; */
  padding-left: 50px;
  font-family: "PoppinsSemiBold";
  font-size: 1.3vw;
}

.welcome #welcomeMsg {
  color: #0979f9;
}

.welcome #clock {
  color: #010247;
  font-size: 0.83vw;
}

.icon-sun {
  color: #0979f9;
  font-size: 3.1vw;
  margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 2, 51);
  border-radius: 3px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */
