.global {
  width: 100vw;
  height: 100vh;
  background-color: #f9fbfd;
}

.header-bar {
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.side-bar {
  position: fixed;
  z-index: 2;
  height: 92vh;
  width: 16vw;
  /* max-width: 267px; */
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.body-content {
  height: calc(92vh - 40px);
  /* height: calc(92vh - 2.4rem - 40px); */
  width: calc(84vw - 1.5rem);
  /* margin-top: 1.2rem; */
  /* margin-left: calc(16vw + 1vh); */
  margin-left: 17vw;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: rgb(11, 2, 51) #f9fbfd;

  /* border: 1px solid red; */
}

.dynamic-content {
  /* height: calc(92vh - 3rem - 40px); */
  height: 78vh;
  width: calc(84vw - 2.5rem);
  background-color: #fff;
  border-radius: 10px;
  margin: 1vw 0;
  /* border: 1px solid red; */
  background-color: transparent;
}

.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #fff;
  text-align: right;
  padding: 15px 4vw;
  /* border: 1px solid red; */
  font-family: "PoppinsRegular";
  font-size: 0.55vw;
}

.footer span {
  color: #1592e6;
  text-decoration: underline;
}
