.global {
  width: 100vw;
  height: 100vh;
  background-color: #f9fbfd;
}

.side-bar {
  position: absolute;
  top: 8vh;
  z-index: 6;
  height: 91vh;
  width: 20vw;
  background-color: #fff;
  border: 1px solid red;
}

.footer {
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: right;
  padding: 15px 4vw;
  /* border: 1px solid red; */
  font-family: "PoppinsRegular";
  font-size: 10px;
}

.footer a {
  color: #1592e6;
}
