.col-bg {
  background-image: url("../../assets/images/background.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  /* height: 105vmax; */
}

@media screen and (max-width: 767px) {
  .col-bg {
    background-image: none;
  }
}

/* @media screen and (max-width: 955px) {
  .col-bg {
    background-size: cover;
  }
} */
